html, body {
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header { 
 color: #ff0000;
 margin: 20px;
}

.header__subHeader {
    color: white;
    padding: 40px;
    margin: 20px;
    background-color: black;
}

.header__subHeaderSpecial {
    color: red;
    background-color: black;
    
}

.aboutme__textElement {
    background-color: beige;
    padding: 10px;
    line-height: 1.5;
    margin: 20px;
    box-shadow: 10px 10px;
    font-family: 'Lato', sans-serif;
}

.thesis__textElement {
    background-color: beige;
    padding: 10px;
    line-height: 1.5;
    margin: 20px;
    box-shadow: 10px 10px;
    font-family: 'Lato', sans-serif;
}

.socent__textElement {
    background-color: beige;
    padding: 10px;
    line-height: 1.5;
    margin: 20px;
    box-shadow: 10px 10px;
    font-family: 'Lato', sans-serif;
}

.table__tableCell {
    border: 1px solid #ccc;
    border-width: 0 0 1px;
    padding: 20px;
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 20px;
}

.table__tableHeader {
    background-color: rgba(49, 49, 255, 0.486);
    color: white;
    font-weight: normal;
}

.tableRow:nth-child(even) {
    background-color: #eee;
}

.tips__container {
    overflow-x: auto;
    align-items: center;
    margin-left: 30px;
}

.nav__unorderedlink--link {
    float: left; 
    padding: 10px;
    
}

.nav__unorderedlink--link:hover {
    color: blue;
}

.nav__unorderedLink {
    list-style: none;
    padding: 40px;
    border: 2px solid black;
    text-align: center;
    margin: 20px;
}

.thankyou {
    margin: 30px;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.nav__elementMenu {
    font-family: 'Raleway', sans-serif;
}

.header__image {
    margin-left: 30px;
}

.js-dark {
    background: gray;
}